.rectanglebleu{
    background-color: blue;
    width: 100%;
    height: 120px;
}
.rectangleviolet{
    background-color: blueviolet;
    width: 100%;
    height: 180px;
}
.rectanglerose{
    background-color: crimson;
    width: 100%;
    height: 180px;
}
